.countdown {
    text-align: center;
    margin-top: 20px;
  }
  
  .timer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .unit {
    margin: 0 10px;
  }
  
  span {
    display: block;
  }
  