<div class="countdown">
    <h1>Wakfu monocompte OGREST ! 31 octobre :</h1>
    <div class="timer">
      <div class="unit">
        <span>{{ days }}</span>
        <span>Jours</span>
      </div>
      <div class="unit">
        <span>{{ hours }}</span>
        <span>Heures</span>
      </div>
      <div class="unit">
        <span>{{ minutes }}</span>
        <span>Minutes</span>
      </div>
      <div class="unit">
        <span>{{ seconds }}</span>
        <span>Secondes</span>
      </div>
    </div>
  </div>
  